<%# ページIDを入力する %>
<% pageId = 'about'; %>

<%# グローバル変数（全部に渡す） %>
<%
baseUrl = json.pages[pageId].dir;
imgUrl = baseUrl + 'assets/images/';
%>

<%# ヘッド %>
<%- include(json.pages[pageId].dir + '_common/_head.ejs') %>

<%# ヘッダー %>
<%- include(json.pages[pageId].dir + '_common/_header.ejs') %>

<%# メイン %>
<!-- main -->
<main class="l-main">
  <h2>about</h2>
</main>

<%# フッター %>
<%- include(json.pages[pageId].dir + '_common/_footer.ejs') %>

<%# スクリプト %>
<script>
  const hoge = 'TEST';
  console.log(hoge);
</script>
<%- include(json.pages[pageId].dir + '_common/_script.ejs') %>