<% const ROOT = `${process.cwd()}/src/ejs`; %>
<%# ページIDを入力する %>
<% pageId = 'about'; %>

<%# ヘッド %>
<%- include(`${ROOT}/_common/_head.ejs`) %>

<%# ヘッダー %>
<%- include(`${ROOT}/_common/_header.ejs`) %>

<%# メイン %>
<!-- main -->
<main class="l-main">
  <h2>about</h2>
</main>

<%# フッター %>
<%- include(`${ROOT}/_common/_footer.ejs`) %>

<%# スクリプト %>
<script>
  const hoge = 'TEST';
  console.log(hoge);
</script>
<%- include(`${ROOT}/_common/_script.ejs`) %>
