@use 'global' as *;

.c-svg-arrow-right {
  width: 16px;
  aspect-ratio: 448 / 512;
}
.c-svg-arrow-up-right-from-square {
  width: 16px;
  aspect-ratio: 512 / 512;
}
.c-svg-x-twitter {
  width: 16px;
  aspect-ratio: 512 / 512;
}
.c-svg-square-x-twitter {
  width: 24px;
  aspect-ratio: 448 / 512;
}
